body {
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 320px;
    margin-left: auto;
    margin-right: 175px;
    display: flex;
}

.conta {
    padding: 20px;
}

.conta p {
    display: inline;
    font-weight: 500;
}

.carteira {
    padding: 20px;
}

.carteira p {
    display: inline-flex;
    font-weight: 500;
}

.carrinho {
    padding: 20px;
}

.hr1 {
    border: 0;
    border-top: 2px solid rgb(217, 215, 215);
    margin-bottom: 15px;
  }

.nome-site {
    color: black;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    padding-left: 100px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 8vh /*viewport height: unidade responsiva que se adapta a altura da janela de visualizção*/
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    font-size: 18px;
}

.nav-list li a {
    color: black;
    display: block;
    padding: 50px;
    text-decoration: none;
    transition: background .6s;
}

.nav-list a:hover {
    font-size: 19px;
    font-weight: 500;
}

#divBusca {
    background-color:white;
    border: solid 1px;
    width: 220px;
    height: 45px;
    margin-right: 185px;
    margin-left: auto;
}
#divBusca img {
    width: 11.5%;
    padding-left: 7px;
    margin-top: 9px;
}

#txtBusca {
    padding-left: 7px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color:transparent;
    font-size:16px;
    border:none;
}

textarea:focus, input:focus, select:focus {
    outline: 0;
}

.main-offer {
    color: rgba(255, 255, 255, 0.849);
    text-align: center;
    font-weight: 500;
    height: 6vh;
    background-color: black;
    padding-top: 16px;
    margin-top: 16px;
    margin-bottom: 64px;
}

.container-2 {
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: fit-content;
  }

.cartao {
    width: 80%;
    margin-top: 15px;
}

.item-1 {
    width: 30%;
    font-weight: 600;
}

.item-2 {
    width: 30%;
    font-weight: 600;
}

.item-2-text {
    font-size: 14px;
    font-weight: lighter;
}

.item-3 {
    width: 30%;
    font-weight: 600;
}

.item-3-text {
    font-size: 14px;
    font-weight: lighter;
}

.hr3 {
    margin-top: 64px;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #CCC, transparent);  
}
   
main h1 {
    display: flex;
    font-size: 18px;
    padding: 80px;
}

.container-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 999px;
}

.gabinete {
    width: 30%;
}

.item-gabinete {
    width: 20%;
    font-weight: 600;
}

.processadores {
    width: 57%;
}

.item-processadores {
    width: 20%;
    font-weight: 600;
}

.coolers {
    width: 47%;
}

.item-cooling {
    width: 20%;
    font-weight: 600;
}

.ssd {
    width: 44%;
}

.item-ssd {
    width: 20%;
    font-weight: 600;
}

.placadevideo {
    width: 75%;
}

.item-placadevideo {
    width: 20%;
    font-weight: 600;
}