body {
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 350px;
    margin-left: auto;
    margin-right: 175px;
    display: flex;
}

.conta {
    padding: 20px;
}

.conta p {
    display: inline;
    font-weight: 500;
}

.carteira {
    padding: 20px;
}

.carteira p {
    display: inline-flex;
    font-weight: 500;
}

.carrinho {
    padding: 20px;
}

.hr1 {
    border: 0;
    border-top: 1px solid rgb(217, 215, 215);
    margin-bottom: 15px;
  }

h1 a {
    color: black;
    font-size: 20px;
    letter-spacing: 1px;
    margin-left: 290px;
    margin-right: auto;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    font-size: 18px;
}

.nav-list li a {
    color: black;
    display: flex;
    padding: 30px;
    text-decoration: none;
}

#divBusca {
    background-color:white;
    border: solid 1px;
    width: 330px;
    height: 32px;
    margin-right: 185px;
}

#txtBusca {
    float:left;
    background-color:transparent;
    padding-left:7px;
    font-size:16px;
    border:none;
    height:28px;
    width:190px;
}

#divBusca img {
    float: left;
    width: 7%;
    padding-left: 7px;
    padding-top: 7px;
}


textarea:focus, input:focus, select:focus {
    outline: 0;
}

.main-offer {
    color: rgba(255, 255, 255, 0.849);
    font-weight: bold;
    text-align: center;
    height: 6vh;
    background-color: black;
    padding-top: 16px;
    margin-top: 16px;
    margin-bottom: 64px;
}

.cartao {
    width: 25%;
    padding-left: 290px;
}
.container-2 {
    margin-top: 64px;
    margin-left: 0;
    margin-right: 290px;
    display: inline;
    justify-content: space-around;
    padding-left: 290px;
    width: 15px;
}

.cartao {
    width: 35%;
}

.listagiftfrete {
    display: inline-flex;
    align-items: center;
    height: 40vh;
}

.listagiftfrete li {
    font-size: 18px;
    font-weight: 600;
    display: inline-flex;
    width: 500px;
    justify-content: space-around;
    align-items: center;
}

.hr3 {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #CCC, transparent);  
}
   
main h1 {
    font-size: 18px;
    padding: 80px;
}